name: Cache Demo

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create dummy file
        run: |
          mkdir -p cache-folder
          echo "Hello Cache" > cache-folder/file.txt

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: cache-folder
          key: cache-1b90b06

      - name: prime-cache-1b90b06
        run: echo "Cache hit? ${{ steps.cache.outputs.cache-hit }}"
